.main{
  display:flex;
  align-items:center;
  justify-content:center;
}
.input{
  display:flex;
  flex-direction: column;
}
input{
  margin-bottom: 15px;
}
.btn{
  display:flex;
  justify-content: center;
  align-items: center ;
  font-size: 100px;
}
button{
  background: blueviolet;
  border-radius: 1px;
  color: white;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
.total{
  display:flex;
  justify-content: center;
  align-items: center ;
  font-size: 20px;
}
